* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 30px;
    margin-bottom: 0; /* overrides bootstrap */

    font-family: Apercu;
    text-transform: uppercase;
}

li {
    display: inline;
    margin-right: 30px;
}

a {
    color: inherit;
}

a, a:hover, a:link {
    text-decoration: none;
}

#content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface';
    font-size: 4.5rem;
    color: white;
}
